name: Instalando os requisitos do Projeto

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9.7'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install  pipenv
        pipenv install -d

    - name: Verificar a qualidade do código com Flake8
      run: |
        pipenv run flake8
    - name: Rodar os testes no GitHubActions
      run: |
        pipenv run pytest MeuPrimeiroPacoteLibpythonpro --cov=MeuPrimeiroPacoteLibpythonpro
    - name: Relatório Coverage
      env:
        CODECOV_TOKEN: 'b568b53d-77d4-4d4c-8e9a-e9a5a5540484'
      run: |
        pipenv run codecov
